@import '~diagramMaker/styles/mixins';

.dm-panel {
  @include dm-container-shadow;
  position: absolute;
  background-color: var(--container-background-color);
  overflow: hidden;
  .dm-content {
    padding: 20px;
  }
}
