@import '~diagramMaker/styles/variables';

@mixin dm-container-shadow {
  box-shadow: 0 1px 1px 0 var(--border-shadow-30-perc)
  , 1px 1px 1px 0 var(--border-shadow-15-perc)
  , -1px 1px 1px 0 var(--border-shadow-15-perc);
  border-top: 1px solid var(--border-color);
  border-radius: 0;
  box-sizing: border-box;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    border: 1px solid var(--border-color);
  }
}
