@import './patterns/DotPattern.scss';
@import './patterns/GridPattern.scss';

.dm-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--canvas-background-color);
  pointer-events: none;
  user-select: none;
  z-index: 1;

  > svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
