$handleSize: 32px;
$dotSize: 14px;

.dm-connector {
  position: absolute;
  top:0;
  left:0;
  width: $handleSize;
  height: $handleSize;
  border-radius: 100%;
  margin-top: -$handleSize/2;
  margin-left: -$handleSize/2;

  &.dm-connector-output {
    cursor: pointer;
  }

  .dm-handle {
    box-sizing: border-box;
    background: var(--connector-color);
    transition: background-color .4s ease, border .4s ease, transform .25s ease;
    width: $dotSize;
    height: $dotSize;
    margin: ($handleSize - $dotSize) / 2;
    border-radius: 100%;
  }
}
