@import './index.scss';

.outer {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.2);
}

.example-node {
  &.circle {
    border-radius: 100%;
    padding: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.edgeBadge {
  background: var(--diagram-maker-container-background-color);
  padding: 5px;
  width: 80px;
  text-align: center;
  border: 1px solid #888;
  border-radius: 5px;
}
