@import '~diagramMaker/styles/mixins';

#diagramMakerLogger {
  @include dm-container-shadow;
  color: var(--diagram-maker-text-color);
  width: 50%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 25%;
  background-color: var(--diagram-maker-container-background-color);
  padding: 20px;
}
