@import './index.scss';

.example-node {
  &.rectangle {
    border-radius: 3px;
    &.potential-node {
      width: 150px;
      height: 50px;
      margin: auto;
      margin-top: 10px;
    }

    &.connector-node {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    input, select {
      width: 100%;
    }
  }
}

.outer-rectangle {
  border-radius: 0%;
}
